.content-wrapper {
  background: white !important;
  padding: 30px;
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
  color-scheme: light only !important;
  filter: none !important;
  
  *, *::before, *::after {
    color-scheme: light only !important;
    filter: none !important;
  }
}
