<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum voluptate alias fuga! Deleniti molestiae distinctio, quo, officiis assumenda doloremque quae soluta eveniet maxime fuga dolorum exercitationem consequuntur dolores at dolorem. Fugit a sed laboriosam quibusdam, iste odio iusto minus quos atque sunt est voluptatum quaerat eaque amet distinctio ullam accusantium accusamus et nemo animi dolorum ea, vitae reprehenderit ipsam. Voluptatibus quod earum obcaecati voluptatum incidunt blanditiis assumenda repudiandae quia tenetur repellendus, natus possimus sequi! Doloribus at iure illum ad, tempore totam, ullam sequi ducimus dolore excepturi ipsa commodi maxime dolor expedita nobis odio consectetur fugit, nesciunt dignissimos architecto quas officiis!</p>
<div class="app-container">
  <div class="button-group">
    <button class="download-btn generate-btn" (click)="generatePDF()" [disabled]="isGenerating">
      {{ isGenerating ? 'Generating...' : 'Generate PDF' }}
    </button>
    
    <button class="download-btn" (click)="downloadPDF()">
      {{ isGenerating ? 'Generating...' : 'Download PDF' }}
    </button>
  </div>

  <app-download-template>
    <app-income-content></app-income-content>
  </app-download-template>
</div>